body {

    padding: 0;
    margin: 0;
   
}

.background{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/pcimg.jpg);
    background-size: cover;
    overflow: hidden;
    position: absolute;
    filter: blur(0px);
    animation: 1s blur both;
    animation-delay: 1s;
    position: fixed;
}

@keyframes blur{
    100%{
        filter: blur(5px);
    }
}

.status-bar{
    height: 5vh; 
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.status-bar > div{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.item-1{
    background-color: #facf2f;
}
.item-2{
   background-color: #28d530;
}
.item-3{
    background-color: #db6059;
}


.modal {
    display: block;
    width: 70vw;
    height: 70vh;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    top: 3vh;
    border-radius: 20px;
    animation: 1s slidedown both;
    padding: 0px 10px 0px 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: all 0.5s;
    opacity: 0;
}



@keyframes slidedown {
    100% {
        opacity: 1;
        top: 10vh;
    }
}

/*모바일 일 때*/
@media screen and (max-width: 768px) {
    .background{
        width: 100vw;
        height: 100vh;
        background-image: url(../img/mobileimg.jpg);
        background-size: cover;
        overflow: hidden;
        position: absolute;
        filter: blur(0px);
        animation: 1s blur both;
        animation-delay: 1s;
        position: fixed;
    }
    
    @keyframes blur{

        100%{
            filter: blur(5px);
        }
    }
    
    .modal {
        display: none;
        width: 90vw;
        height: 40vh;
        background-color: white;
        margin: 0 auto;
        position: relative;
        top: 0px;
        animation-delay: 3s;
        animation: 1s slidedown both;
        border-radius: 20px;
        padding-left: 5px;
        padding-right: 5px;
        opacity: 0;
    }

    @keyframes slidedown{
        100%{
          top: 100px;
          opacity: 1;
        }
    }

    .status-bar{

        height: 5vh; 
     
    }
    .status-bar > div{
        border-radius: 100%;
        width: 20px;
        height: 20px;
        margin-left: 7px;
    }
    .start_wrap{
        height: 20vh;
        cursor: pointer;
    }
}
