.start_wrap{
    position: relative;
    text-align: center;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30vh;
    background-color: #ecebf1;
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 3em;
    transition: all 0.3s;
    cursor: pointer;
}
.start_wrap:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.start_wrap a{
    text-decoration: none;
    color: black;
}

.start_wrap p::selection{
    background-color: aquamarine; 
}

.start_wrap:checked{
    animation: 1s fade both;

}
@keyframes fade{
    100%{
        opacity: 0;
    }
}





/*모바일 일 때*/
@media screen and (max-width: 768px) {
    .start_wrap{
        height: 20vw;
        cursor: pointer;
    }
}